
# 1. تكريت الـ Service Account عشان الـ Deployment يلاقيه
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tetris-sa
  namespace: tetris
---
# 2. ملف الـ Deployment بتاعك مع تعديلات بسيطة للثبات
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tetris-app
  namespace: tetris
  labels:
    app: tetris
spec:
  replicas: 3
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: tetris
  template:
    metadata:
      labels:
        app: tetris
    spec:
      serviceAccountName: tetris-sa
      
      containers:
        - name: tetris
          image: 391369718038.dkr.ecr.us-east-1.amazonaws.com/tetris-game@sha256:a11980746f5839743fe96a6d153a34b8a091532a7a368e161d8aa23177eb00f9
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
         
