apiVersion: v1
kind: ServiceAccount
metadata:
  name: tetris-sa
  namespace: tetris
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tetris-app
  namespace: tetris
  labels:
    app: tetris
spec:
  replicas: 3
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: tetris
  template:
    metadata:
      labels:
        app: tetris
    spec:
      serviceAccountName: tetris-sa
      
      containers:
        - name: tetris
          image: 391369718038.dkr.ecr.us-east-1.amazonaws.com/tetris-game:74
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
         
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
