apiVersion: v1
kind: Namespace
metadata:
  name: tetris
  labels:
    app: tetris
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    app: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    app: argocd
