apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: tetris
data:
  config.yml: |
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname']
      receiver: 'slack'
    receivers:
      - name: 'slack'
        slack_configs:
          - channel: '#alerts'
            send_resolved: true
            api_url: "<SLACK_WEBHOOK_URL>"

