apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cadvisor
  namespace: tetris
spec:
  selector:
    matchLabels:
      app: cadvisor
  template:
    metadata:
      labels:
        app: cadvisor
    spec:
      containers:
        - name: cadvisor
          image: gcr.io/cadvisor/cadvisor:latest
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: rootfs
              mountPath: /rootfs
              readOnly: true
      volumes:
        - name: rootfs
          hostPath:
            path: /
